/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --title-color: #da00fe;
  --page_bg_color: #000028;
  --text-color: #F1B2CE;
  --bg_title-color: #FF0070;
  --bg_secondary_title-color: #FF0070;
  --text_secondary_title-color: #000028;
  --title-text-color: #FF0070;
  --header-image : url(../images/cover-image-dark.png);
  --display_rec : content;
}
@media(prefers-color-scheme:dark) {
  .page.theme_auto,
  .page {
     --title-color: #da00fe;
     --page_bg_color: #000028;
     --text-color: #F1B2CE;
     --bg_title-color: #FF0070;
     --bg_secondary_title-color: #FF0070;
     --text_secondary_title-color: #000028;
     --title-text-color: #FF0070;
     --header-image : url(../images/cover-image-dark.png);
     --display_rec : content;
   }
 }