/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --title-color: #fec2e7;
  --page_bg_color: #fff0f6;
  --text-color: #353430;
  --bg_title-color: #FF8DCB;
  --bg_secondary_title-color: #FF8DCB;
  --text_secondary_title-color: #000028;
  --title-text-color: #353430;
  --button-hover_color : rgba(50, 49, 45, 0.4);
  --decore-zone-color : #353430;
  --header-image : url(../images/cover-image-light.png);
  --display_rec : none;
}
@media(prefers-color-scheme:light) {
  .page.theme_auto,
  .page {
    --title-color: #fec2e7;
    --page_bg_color: #fff0f6;
    --text-color: #353430;
    --bg_title-color: #FF8DCB;
    --bg_secondary_title-color: #FF8DCB;
    --text_secondary_title-color: #000028;
    --title-text-color: #353430;
    --button-hover_color : rgba(50, 49, 45, 0.4);
    --decore-zone-color : #353430;
    --header-image : url(../images/cover-image-light.png);
    --display_rec : none;
  }
}
